.vscode/**
src/test/*.exe

/.vs/SDL_playground/FileContentIndex
/.vs/SDL_playground/v17
/.vs
/vcpkg_installed
/libs/d3d9.dll
/libs/d3d9.lib
/media/img
/CMakeFiles
/ALL_BUILD.vcxproj
/ALL_BUILD.vcxproj.filters
/cmake_install.cmake
/Continuous.vcxproj
/Continuous.vcxproj.filters
/CPackConfig.cmake
/CPackSourceConfig.cmake
/CTestTestfile.cmake
/DartConfiguration.tcl
/dear_imgui.vcxproj
/dear_imgui.vcxproj.filters
/Experimental.vcxproj
/Experimental.vcxproj.filters
/game.sln
/game.vcxproj
/game.vcxproj.filters
/INSTALL.vcxproj
/INSTALL.vcxproj.filters
/Nightly.vcxproj
/Nightly.vcxproj.filters
/NightlyMemoryCheck.vcxproj
/NightlyMemoryCheck.vcxproj.filters
/PACKAGE.vcxproj
/PACKAGE.vcxproj.filters
/RUN_TESTS.vcxproj
/RUN_TESTS.vcxproj.filters
/smoketest.vcxproj
/smoketest.vcxproj.filters
/vcpkg.json
/ZERO_CHECK.vcxproj
/ZERO_CHECK.vcxproj.filters
/build/CMakeFiles
/build/external
/build/dear_imgui.dir/Debug
/build
